@import "@vidstack/react/player/styles/base.css";
@import "@vidstack/react/player/styles/default/sliders.css";
@import "@vidstack/react/player/styles/default/icons.css";
@import "@vidstack/react/player/styles/default/buttons.css";
/* @import "@vidstack/react/player/styles/default/controls.css"; */
/* @import "@vidstack/react/player/styles/default/gestures.css"; */
/* @import "@vidstack/react/player/styles/default/time.css"; */

/* Center Play Button Overlay */

.vds-play-button {
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  width: 64px;
  height: 64px;
  backdrop-filter: blur(4px);
}

.media-player[data-view-type="video"] {
  aspect-ratio: 16/9;
}
