@import "@vidstack/react/player/styles/base.css";
@import "@vidstack/react/player/styles/default/sliders.css";
@import "@vidstack/react/player/styles/default/icons.css";
@import "@vidstack/react/player/styles/default/buttons.css";
/* @import "@vidstack/react/player/styles/default/controls.css"; */
/* @import "@vidstack/react/player/styles/default/gestures.css"; */
/* @import "@vidstack/react/player/styles/default/time.css"; */

/* ====================================================================
   CONFIRMED CSS
   ==================================================================== */

/* Center Play Button Overlay */
.vds-play-button {
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  width: 64px;
  height: 64px;
  backdrop-filter: blur(4px);
}

/* ====================================================================
TEST
==================================================================== */
/* Always show controls when paused */
/* [data-media-player][data-paused] .vds-controls {
  opacity: 1 !important;
  pointer-events: auto;
} */

/* Responsive adjustments */
/* @media (max-width: 640px) {
} */

/* .vds-controls[data-fullscreen] {
  background-color: green;
} */
/* Controls fade out when not visible */
/* [data-media-player] .vds-controls:not([data-visible]) {
  opacity: 0 !important;
  pointer-events: none;
} */

/* .media-player[data-view-type="video"] {
  aspect-ratio: 16/9;
} */
