@import "@vidstack/react/player/styles/base.css";
@import "@vidstack/react/player/styles/default/sliders.css";
@import "@vidstack/react/player/styles/default/icons.css";
@import "@vidstack/react/player/styles/default/buttons.css";
@import "@vidstack/react/player/styles/default/controls.css";
@import "@vidstack/react/player/styles/default/gestures.css";
@import "@vidstack/react/player/styles/default/time.css";

/* ============================================================ */
/*                 CONTENITORE A TUTTO SCHERMO                  */
/* ============================================================ */
.vds-controls {
  /* background-color: brown; */
  justify-content: end;
}

/* ============================================================ */
/*                     BARRA DI CONTROLLO                       */
/* ============================================================ */

.vds-controls-group {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.buttons-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* ==================== TIME STAMPS ==================== */
.vds-time-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ==================== FIX VOLUME AND TIME SLIDER (Vale per entrambi) ==================== */
.vds-slider {
  padding: 0;
  margin: 0;
}

/* ==================== VOLUME SLIDER CONTAINER ==================== */

/* ==================== TIME SLIDER ==================== */

.time-slider {
  display: flex;
  flex-direction: column;
  height: 7px;
  /* background-color: dodgerblue; */
}

:where([data-view-type="video"] .vds-controls) {
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease-out, visibility 0s linear 4s !important;
}
:where([data-view-type="video"] .vds-controls[data-visible]) {
  opacity: 1;
  visibility: visible;
  transition: opacity 2s ease-out, visibility 0s !important;
}
